* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bgr-img: linear-gradient(0deg, #655386 0%, #542ab7 100%);
  --purple-dark: #542ab7;
  --yellow: #fcec91;
  --yellow-act: #746d44;
  --red: #ff4c7f;
  --red-act: #691930;
  --black: #000000;
  --white: #ffffff;
  --white-act: #979797;
  --fw: 100;
  --fs: ff;
  --bs: #000000 0px 5px 0;
  --bs-act: #000000 0px -3px 0;
  --text-shadow: black 0px 5px 12px;
  --border-rad: 10%;
}

html {
  font-family: ff;
}

.btn {
  display: inline-block;
  padding: 1em 3em;
  text-decoration: none;
  color: var(--black);
  border-radius: var(--border-rad);
  border: solid 3px var(--black);
  box-shadow: var(--bs);
}
.btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

@font-face {
  font-family: ff;
  src: url("../assets/Belanosima-Regular.ttf");
}
